:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --success: #2e2f42;
  --herobackground: #2e2f42b2 70%;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header {
}
.header-nav {
}
.header-list {
}
.header-item {
}
.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */

  color: #2e2f42;
}
.logo-top {
  color: #4d5ae5;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header-link:hover{
  color: #404BBF;
}
.header-link:focus{
  color: #404BBF;
}
.header-address {
}
.address-list {
}
.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.header-num {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.footer {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */

  color: #f4f4fd;
}
.logo-down {
  color: #4d5ae5;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CLOUD */

  color: #f4f4fd;
}
.hero {
  background: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* or 107% */

  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */

  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */

  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.advantage {
}
.advantage-list {
}
.advantage-item {
}
.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.activity {
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.activity-list {
}
.activity-item {
}
.team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.examples {
}
.examples-list {
}
.example-item {
}
.examples-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  /* IRIS */

  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}
.examples-btn:hover{
  background: #404BBF;
}
.examples-btn:focus{
  background: #404BBF;
}
.example-linklist {
}
.linklist-item {
}
.linklist-link {
}
.linklist-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;
}
.linklist-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
